---
- name: Update and upgrade packages
  apt:
    update_cache: yes
    upgrade: dist
  tags: update

- name: Install base packages
  apt:
    name:
      - git
      - curl
      - mysql-client
      - npm
      - vim
      - build-essential
      - python3-pip
      - python3-pymysql
    state: present