---
- name: Prepare system (common)
  hosts: web
  become: true
  roles:
    - common

- name: Install and configure Nginx
  hosts: web
  become: true
  roles:
    - nginx

- name: Deploy EpicBook app
  hosts: web
  become: true
  roles:
    - bookstore

- hosts: all
  vars_files:
    - group_vars/web.yml
  tasks:
    - name: Ensure MySQL database exists
      community.mysql.mysql_db:
        name: "{{ mysql_database }}"
        state: present
        login_host: "{{ mysql_host }}"
        login_port: "{{ mysql_port }}"
        login_user: "{{ mysql_username }}"
        login_password: "{{ mysql_password }}"
      
