---
- name: Prepare system (common)
  hosts: web
  become: true
  roles:
    - common

- name: Install and configure Nginx
  hosts: web
  become: true
  roles:
    - nginx

- name: Deploy EpicBook app
  hosts: web
  become: true
  roles:
    - epicbook

- name: Ensure /root/.my.cnf exists with MySQL credentials
  copy:
    dest: /root/.my.cnf
    content: |
      [client]
      user=mysqladmin@epicbook-mysql-dev
      password="@xlaBT!V#oZF8pHl"
      host=epicbook-mysql.mysql.database.azure.com
    owner: root
    group: root
    mode: '0600'
